/* Including fonts */
@font-face {
  src: url("../../fonts/PT_Sans_Regular.ttf");
  font-family: 'PT Sans';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/PT_Sans_Bold.ttf");
  font-family: 'PT Sans';
  font-weight: 700; }

@font-face {
  src: url("../../fonts/arial.ttf");
  font-family: 'Arial';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/ariali.ttf");
  font-family: 'Arial';
  font-weight: 400;
  font-style: italic; }

@font-face {
  src: url("../../fonts/arialbd.ttf");
  font-family: 'Arial';
  font-weight: 700; }

@font-face {
  src: url("../../fonts/calibri.ttf");
  font-family: 'Calibri';
  font-weight: 700; }
